// defaults 
.body_bg{
    margin: 0;
    padding: 0;
    background:url('../images/home_background.jpg') no-repeat center;
    background-size: cover;
  }


.current {
    padding: 5px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }
a
{
    text-decoration: none;
    color: inherit;
}
.container 
{
    margin:auto;
    font-weight: 500;
    max-width: 960px;
    padding-right: 10px; 
    padding-left:  10px; 
    font-family: "Oswald";
}
blockquote
{
    font-weight: lighter;
}
.main
{
    margin:auto;
    font-weight: 500;
    max-width: 700px;
    padding-right: 30px; 
    padding-left:  30px; 
    font-size: 20px;
    font-family: "Oswald";
    text-align: justify;
}
.main nav
{
    margin-top: 10px;
}
nav a{
    padding-left: 10px;
    padding-right: 10px;
}


@font-face {
    font-family: 'Oswald';
    src:  url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2'),
          url('../fonts/Oswald-VariableFont_wght.eot') format('eot'),
          url('../fonts/Oswald-VariableFont_wght.woff') format('woff'),
          url('../fonts/Oswald-VariableFont_wght.ttf') format('ttf')
  }

  .my-image
  {
      border-radius: 22px;
      height: 6%;
      width: 20%;
  }
  .main article
  {
      font-size: 18px;
  }
  .main article a:link
  {
      color: red;
  }
  .main article a:visited
  {
      color: blue;
  }

  .center-image
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
  }

a:hover{
    text-decoration: underline;
}

h1 
{
    font-size: 5vw;
}